GATEWAY_HOST=127.0.0.1
GATEWAY_PORT=8092
OIDC_ISSUER_URL=https://accounts.google.com
OIDC_CLIENT_ID=REPLACE_WITH_GOOGLE_WEB_CLIENT_ID
OIDC_CLIENT_SECRET=REPLACE_WITH_GOOGLE_WEB_CLIENT_SECRET
OIDC_REDIRECT_URI=https://REPLACE_WITH_PUBLIC_HOST/auth/callback
HELIX_PUBLIC_ORIGIN=https://REPLACE_WITH_PUBLIC_HOST
HELIX_HYPERVISOR_URL=http://127.0.0.1:8090
SESSION_SIGNING_SECRET=REPLACE_WITH_64_BYTE_RANDOM_SECRET
SESSION_TTL_SECONDS=3600
WS_TICKET_TTL_SECONDS=60
