GATEWAY_HOST=127.0.0.1
GATEWAY_PORT=8092
OIDC_ISSUER_URL=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_40X8yJKI2
OIDC_CLIENT_ID=REPLACE_WITH_COGNITO_APP_CLIENT_ID
OIDC_CLIENT_SECRET=LOADED_BY_SYSTEMD_FROM_AWS_COGNITO
OIDC_REDIRECT_URI=https://REPLACE_WITH_PUBLIC_HOST/auth/callback
HELIX_PUBLIC_ORIGIN=https://REPLACE_WITH_PUBLIC_HOST
HELIX_HYPERVISOR_URL=http://127.0.0.1:8090
SESSION_SIGNING_SECRET=REPLACE_WITH_64_BYTE_RANDOM_SECRET
SESSION_TTL_SECONDS=3600
WS_TICKET_TTL_SECONDS=60
