[Unit]
Description=Helix VNC bridge
After=helix-xfce.service
Requires=helix-xfce.service

[Service]
Type=simple
User=root
Environment=DISPLAY=:99
ExecStart=/usr/bin/x11vnc -display :99 -rfbport 5900 -localhost -forever -shared -nopw -noxrecord -noxfixes -noxdamage
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
